.Colors {
  display: flex;
  padding: 20px;
}

.ColorSquareWrapper {
  display: grid;
  padding: 5px;
  justify-items: center;
  align-items: center;
}

.ColorSquare {
  border: rgb(17, 17, 17) 3px solid;
  height: 40px;
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
  position: relative;
}

.ColorSquare:hover {
  border: rgb(255, 255, 255) 1px solid;
  color: aliceblue;
  border-radius: 10px;
  transition: 0.7s;
}

.ColorSquareSelected:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  position: absolute;
  right: 35%;
  top: 35%;
}

