.item-container {
  /* background-color: grey; */
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}


.todo-item-text-std {
  padding: 5px 10px;
}


.trash-btn,
.complete-btn {
  color: white;
  border: none;
  padding: 0.5em 0.6em;
  cursor: pointer;
  font-size: 1rem;
}


.complete-btn:hover {
  transform: rotate(-360deg);
  transition: 0.4s;
}


.trash-btn:hover {
  color: rgb(255, 0, 0);
  transform: rotate(-15deg);
  transition: 0.3s;
}


.trash-btn {
  background: transparent;
  font-size: 0.9em;
}


.complete-btn {
  background: transparent;
  color: rgb(5, 202, 5);
}


.star {
  background: transparent;
  color: white;
  border: none;
  padding: 0.5em 0.6em;
  cursor: pointer;
  font-size: 1rem;
}


.star-active {
  background: transparent;
  color: rgb(250, 250, 17);
  border: none;
  padding: 0.5em 0.6em;
  cursor: pointer;
  font-size: 1.1rem;
}


.todo-item {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.todo-item-finished {
  text-decoration: line-through;
  padding: 5px 10px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.5;
  border-radius: 5px;
}
